/*
  This part is for app page
*/

.codcerin-container {
  min-height: 100%;
  position: relative;
}

.codcerin__content-container {
  padding: 2rem 0 10rem;
}

.codcerin-footer {
  &__wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary;
  }

  &__container {
    font-size: 1.2rem;
    color: $white;
    min-height: 6rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__fb-icon {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
  }

  &__col {
    flex-grow: 1;
    padding: 0 1rem;
    text-align: center;
    border-right: 1px solid $white60;
    &--last {
      border-right: 0;
    }

    &__content {
      display: inline-block;
      text-align: left;

      &--center-content {
        text-align: center;
      }
    }
  }
}

/*
  This part is for home page
*/
.home-page {
  &__container {
  }
  &__slider {
    width: 90%;
    margin: auto;
    &__item {
      @include fit_background_image;
      height: 45rem;
    }
  }

  &__tips-wrapper {
    margin-top: 6rem;
    padding: 0 1rem
  }
}

/**
  This part is for product page
**/
.product-page {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card-container {
    margin: 1rem 6rem;
    margin-top: 0;
  }
}

/*
  This part is for product detail page
*/

.product-detail-page {
  &__container {
    margin-top: 2rem;
    color: $black80;
    font-size: 1.2rem;
  }

  &__header {
    &__container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      border-bottom: 0.2rem solid $primary-lighter;
    }

    &__product-image {
      @include fill_background_image;
      width: 30rem;
      height: 25rem;
      margin-bottom: 5rem;
    }

    &__product-detail {
      max-width: 40rem;
      padding: 5rem;

      &__name {
        font-size: 3.5rem;
        @include fix_letter_spacing;
        font-weight: bold;
        margin-bottom: 2rem;
        color: $black;
      }
      &__description {
        text-align: justify;
      }
    }
  }

  &__detail {

    &__container {
      padding: 2rem;
      position: relative;
    }

    &__product-labeling-button {
      @include center_content;
      width: 15rem;
      height: 3rem;
      font-weight: bold;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    &__header, &__sub-header {
      @include fix_letter_spacing;
    }

    &__header {
      color: $black;
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 1rem;
    }
    &__sub-header {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.5rem;
    }

    &__dosage-table {
      max-width: 80rem;
      margin: 3rem auto;
      &__col--border-right {
        border-right: 1px solid $white60;
      }
    }

    &__dosage-head,
    &__dosage-row {
      display: flex;
    }

    &__dosage-row__col,
    &__dosage-head__col {
      @include center_content;
      width: 50%;
      height: 5rem;
    }

    &__dosage-head {
      background: $primary-lighter;
      color: $white;
      font-size: 1.4rem;
    }

    &__dosage-row {
      background: $background-lighter;
      border-top: 1px solid $white60;
      &__col {
        padding: 0.5rem 2rem;
      }
    }
  }

  &__product-labeling {
    display: block;
    box-sizing: border-box;
    max-width: 60rem;
    max-height: 60rem;
    padding: 0 2rem 2rem;
    overflow-y: scroll;
    overflow-x: auto;

    @include style_scroll_bar;
  }
}

/**
  This part is for tip page
**/

.tip-page {

  &__content-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem;
  }

  &__card-container {
    @include horizontal_center_content;
    padding: 0 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
  }
}