@import './variable';
@import './mixin';

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica", "Arial";
  background: $background;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: auto;
}

.codcerin-header {
  color: $black80;
  font-size: 2rem;
  font-weight: bold;
  @include fix_letter_spacing;
}

@import './navbar/navbar';
@import './button/button';
@import './card/card';
@import './modal/modal';
@import './page/page';
