@import './variable';
@import './mixin';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial";
  background: $background;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: auto;
}

@import './navbar/navbar';
@import './button/button';
@import './card/card';
@import './page/page';
