@mixin tapable {
  &:hover {
    cursor: pointer;
  }
  user-select: none;
}

@mixin fit_background_image {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin fill_background_image {
  background: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin vertical_center_content {
  display: flex;
  align-items: center;
}

@mixin horizontal_center_content {
  display: flex;
  justify-content: center;
}

@mixin center_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fix_letter_spacing {
  letter-spacing: -1px;
}

@mixin style_scroll_bar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
}

@mixin normal_text {
  font-size: 1.2rem;
  color: $black80;
}

@mixin disable_select {
  user-select: none;
}