@mixin tapable {
  &:hover {
    cursor: pointer;
  }
  user-select: none;
}

@mixin fit_background_image {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin fill_background_image {
  background: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin center_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fix_letter_spacing {
  letter-spacing: -1px;
}