$primary: #689f38;
$primary-lighter: #8bc34a;
$highlighted: #ce162b;
$complement: #f06292;
$background: #dbdbdb;
$background-lighter: #ececec;
$white: #fff;
$white60: rgba(255, 255, 255, 0.6);
$black: #000;
$black20: rgba(0, 0, 0, 0.2);
$black50: rgba(0, 0, 0, 0.5);
$black80: rgba(0, 0, 0, 0.8);
